.tables__container {

    .data__grid {
        padding: 1.3rem;
        background-color: #fff;

        .MuiDataGrid-toolbarContainer {
            flex-direction: row-reverse;
        }

        .actions__container {
            display: flex;
            gap: 0.9rem;
            font-size: 1.2rem;

            .view {
                color: limegreen;
            }

            .delete {
                color: tomato;
            }
        }
    }
}